{% extends 'base.html' %}
{% block content %}
{% load static %}


<!-- Navbar -->

  <!-- End Navbar -->
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% endif %}
        
        <div class="card mb-4">
          <div class="card-header pb-0">
            <h6>Shift Management </h6>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Employee</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Position</th>
                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Phone</th>
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Shift</th>
                    <th class="text-secondary opacity-7"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for emp in employees %}
                  <tr>
                    <td>
                      <div class="d-flex px-2 py-1">
                        <div>
                          {% if emp.image.url %}
                          <img src="{{emp.image.url}}" class="avatar avatar-sm me-3" alt="user1">
                          {% else %}
                          <img src="{% static 'assets/img/default.jpeg' %}" class="avatar avatar-sm me-3" alt="user1">
                          {% endif %}
                        </div>
                        <div class="d-flex flex-column justify-content-center">
                          <h6 class="mb-0 text-sm">{{emp.user.username}}</h6>
                          <p class="text-xs text-secondary mb-0">{{emp.email}}</p>
                        </div>
                      </div>
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0">{{emp.postion}}</p>
                      <!-- <p class="text-xs text-secondary mb-0">Organization</p> -->
                    </td>
                    <td>
                      <p class="text-xs font-weight-bold mb-0">{{emp.phone}}</p>
                      
                    </td>
                   
                    <td class="align-middle text-center text-sm">
                      {% if shifts %}  
                        {% for i in shifts %}  
                            {% if emp.id == i.employee_id.id %}
                            <span class="badge badge-sm bg-gradient-success">Shift Added / View</span>
                            {% else %}
                            <span class="badge badge-sm bg-gradient-danger">Add Now</span>
                            {% endif %}
                        {% endfor %}
                      {% else %}
                      <a href="">
                      <span class="badge badge-sm bg-gradient-danger"></span>
                    </a>
                      {% endif %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  
  </div>



  {% endblock %}